h1>Here is some html on the dogs index page</h1>




<% @dogs.each do |dog| %>
  <p>name: <%= dog.name%></p>
  <p>image url: <%= dog.image_url%></p>
  <img src="<%= dog.image_url %>" width="350px">>
  <hr />
<% end %>